set_location DUTY_CYCLE0_RNI21UK6[5] 4 6 1 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI21UK6[5]_LC_0)
set_location DUTY_CYCLE0_RNI32UK6[6] 4 5 7 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI32UK6[6]_LC_1)
set_location DUTY_CYCLE0_RNI54UK6[8] 4 6 6 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI54UK6[8]_LC_2)
set_location DUTY_CYCLE0_RNI5CMD1[7] 6 6 0 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI5CMD1[7]_LC_3)
set_location DUTY_CYCLE0_RNI65UK6[9] 4 6 4 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI65UK6[9]_LC_4)
set_location DUTY_CYCLE0_RNI6DMD1[10] 6 5 2 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI6DMD1[10]_LC_5)
set_location DUTY_CYCLE0_RNI6FK01_0[13] 6 6 3 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI6FK01_0[13]_LC_6)
set_location DUTY_CYCLE0_RNI6FK01[13] 4 6 5 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI6FK01[13]_LC_7)
set_location DUTY_CYCLE0_RNI76O95[10] 6 5 3 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI76O95[10]_LC_8)
set_location DUTY_CYCLE0_RNI85EK3_0[11] 5 5 4 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI85EK3_0[11]_LC_9)
set_location DUTY_CYCLE0_RNI85EK3[11] 4 5 6 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNI85EK3[11]_LC_10)
set_location DUTY_CYCLE0_RNICESF1[4] 5 5 0 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNICESF1[4]_LC_11)
set_location DUTY_CYCLE0_RNIDKMD1[14] 6 6 1 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNIDKMD1[14]_LC_12)
set_location DUTY_CYCLE0_RNIEVQJ6[10] 4 5 1 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNIEVQJ6[10]_LC_13)
set_location DUTY_CYCLE0_RNIFOK01[18] 6 6 4 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNIFOK01[18]_LC_14)
set_location DUTY_CYCLE0_RNIG1RJ6[12] 4 6 7 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNIG1RJ6[12]_LC_15)
set_location DUTY_CYCLE0_RNIILSL[18] 5 5 2 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNIILSL[18]_LC_16)
set_location DUTY_CYCLE0_RNITHPE1[7] 5 5 3 # SB_LUT4 (LogicCell: DUTY_CYCLE0_RNITHPE1[7]_LC_17)
set_location DUTY_CYCLE0_RNO[10] 5 6 6 # SB_LUT4 (LogicCell: DUTY_CYCLE0[10]_LC_18)
set_location DUTY_CYCLE0[10] 5 6 6 # SB_DFF (LogicCell: DUTY_CYCLE0[10]_LC_18)
set_location un1_DUTY_CYCLE0_2_cry_10_c 5 6 6 # SB_CARRY (LogicCell: DUTY_CYCLE0[10]_LC_18)
set_location DUTY_CYCLE0_RNO[11] 5 6 7 # SB_LUT4 (LogicCell: DUTY_CYCLE0[11]_LC_19)
set_location DUTY_CYCLE0[11] 5 6 7 # SB_DFF (LogicCell: DUTY_CYCLE0[11]_LC_19)
set_location un1_DUTY_CYCLE0_2_cry_11_0_c 5 6 7 # SB_CARRY (LogicCell: DUTY_CYCLE0[11]_LC_19)
set_location DUTY_CYCLE0_RNO[12] 5 7 0 # SB_LUT4 (LogicCell: DUTY_CYCLE0[12]_LC_20)
set_location DUTY_CYCLE0[12] 5 7 0 # SB_DFF (LogicCell: DUTY_CYCLE0[12]_LC_20)
set_location un1_DUTY_CYCLE0_2_cry_12_c 5 7 0 # SB_CARRY (LogicCell: DUTY_CYCLE0[12]_LC_20)
set_location DUTY_CYCLE0_RNO[13] 5 7 1 # SB_LUT4 (LogicCell: DUTY_CYCLE0[13]_LC_21)
set_location DUTY_CYCLE0[13] 5 7 1 # SB_DFF (LogicCell: DUTY_CYCLE0[13]_LC_21)
set_location un1_DUTY_CYCLE0_2_cry_13_0_c 5 7 1 # SB_CARRY (LogicCell: DUTY_CYCLE0[13]_LC_21)
set_location DUTY_CYCLE0_RNO[14] 5 7 2 # SB_LUT4 (LogicCell: DUTY_CYCLE0[14]_LC_22)
set_location DUTY_CYCLE0[14] 5 7 2 # SB_DFF (LogicCell: DUTY_CYCLE0[14]_LC_22)
set_location un1_DUTY_CYCLE0_2_cry_14_0_c 5 7 2 # SB_CARRY (LogicCell: DUTY_CYCLE0[14]_LC_22)
set_location DUTY_CYCLE0_RNO[15] 5 7 3 # SB_LUT4 (LogicCell: DUTY_CYCLE0[15]_LC_23)
set_location DUTY_CYCLE0[15] 5 7 3 # SB_DFF (LogicCell: DUTY_CYCLE0[15]_LC_23)
set_location un1_DUTY_CYCLE0_2_cry_15_0_c 5 7 3 # SB_CARRY (LogicCell: DUTY_CYCLE0[15]_LC_23)
set_location DUTY_CYCLE0_RNO[16] 5 7 4 # SB_LUT4 (LogicCell: DUTY_CYCLE0[16]_LC_24)
set_location DUTY_CYCLE0[16] 5 7 4 # SB_DFF (LogicCell: DUTY_CYCLE0[16]_LC_24)
set_location un1_DUTY_CYCLE0_2_cry_16_0_c 5 7 4 # SB_CARRY (LogicCell: DUTY_CYCLE0[16]_LC_24)
set_location DUTY_CYCLE0_RNO[17] 5 7 5 # SB_LUT4 (LogicCell: DUTY_CYCLE0[17]_LC_25)
set_location DUTY_CYCLE0[17] 5 7 5 # SB_DFF (LogicCell: DUTY_CYCLE0[17]_LC_25)
set_location un1_DUTY_CYCLE0_2_cry_17_0_c 5 7 5 # SB_CARRY (LogicCell: DUTY_CYCLE0[17]_LC_25)
set_location DUTY_CYCLE0_RNO[18] 5 7 6 # SB_LUT4 (LogicCell: DUTY_CYCLE0[18]_LC_26)
set_location DUTY_CYCLE0[18] 5 7 6 # SB_DFF (LogicCell: DUTY_CYCLE0[18]_LC_26)
set_location DUTY_CYCLE0_RNO[4] 6 6 2 # SB_LUT4 (LogicCell: DUTY_CYCLE0[4]_LC_27)
set_location DUTY_CYCLE0[4] 6 6 2 # SB_DFF (LogicCell: DUTY_CYCLE0[4]_LC_27)
set_location DUTY_CYCLE0_RNO[5] 5 6 1 # SB_LUT4 (LogicCell: DUTY_CYCLE0[5]_LC_28)
set_location DUTY_CYCLE0[5] 5 6 1 # SB_DFF (LogicCell: DUTY_CYCLE0[5]_LC_28)
set_location un1_DUTY_CYCLE0_2_cry_5_c 5 6 1 # SB_CARRY (LogicCell: DUTY_CYCLE0[5]_LC_28)
set_location DUTY_CYCLE0_RNO[6] 5 6 2 # SB_LUT4 (LogicCell: DUTY_CYCLE0[6]_LC_29)
set_location DUTY_CYCLE0[6] 5 6 2 # SB_DFF (LogicCell: DUTY_CYCLE0[6]_LC_29)
set_location un1_DUTY_CYCLE0_2_cry_6_c 5 6 2 # SB_CARRY (LogicCell: DUTY_CYCLE0[6]_LC_29)
set_location DUTY_CYCLE0_RNO[7] 5 6 3 # SB_LUT4 (LogicCell: DUTY_CYCLE0[7]_LC_30)
set_location DUTY_CYCLE0[7] 5 6 3 # SB_DFF (LogicCell: DUTY_CYCLE0[7]_LC_30)
set_location un1_DUTY_CYCLE0_2_cry_7_0_c 5 6 3 # SB_CARRY (LogicCell: DUTY_CYCLE0[7]_LC_30)
set_location DUTY_CYCLE0_RNO[8] 5 6 4 # SB_LUT4 (LogicCell: DUTY_CYCLE0[8]_LC_31)
set_location DUTY_CYCLE0[8] 5 6 4 # SB_DFF (LogicCell: DUTY_CYCLE0[8]_LC_31)
set_location un1_DUTY_CYCLE0_2_cry_8_c 5 6 4 # SB_CARRY (LogicCell: DUTY_CYCLE0[8]_LC_31)
set_location DUTY_CYCLE0_RNO[9] 5 6 5 # SB_LUT4 (LogicCell: DUTY_CYCLE0[9]_LC_32)
set_location DUTY_CYCLE0[9] 5 6 5 # SB_DFF (LogicCell: DUTY_CYCLE0[9]_LC_32)
set_location un1_DUTY_CYCLE0_2_cry_9_c 5 6 5 # SB_CARRY (LogicCell: DUTY_CYCLE0[9]_LC_32)
set_location DUTY_CYCLE1_RNI0I6D1[11] 4 4 7 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI0I6D1[11]_LC_33)
set_location DUTY_CYCLE1_RNI0IQ39[6] 2 3 1 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI0IQ39[6]_LC_34)
set_location DUTY_CYCLE1_RNI2KQ39[8] 2 3 4 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI2KQ39[8]_LC_35)
set_location DUTY_CYCLE1_RNI3HOP4[8] 2 4 2 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI3HOP4[8]_LC_36)
set_location DUTY_CYCLE1_RNI3LQ39[9] 2 3 6 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI3LQ39[9]_LC_37)
set_location DUTY_CYCLE1_RNI9DDQ2[11] 2 4 6 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI9DDQ2[11]_LC_38)
set_location DUTY_CYCLE1_RNI9R6D1_0[13] 2 4 5 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI9R6D1_0[13]_LC_39)
set_location DUTY_CYCLE1_RNI9R6D1[13] 2 4 1 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNI9R6D1[13]_LC_40)
set_location DUTY_CYCLE1_RNIBGQ59[10] 2 3 3 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIBGQ59[10]_LC_41)
set_location DUTY_CYCLE1_RNICBOM8[11] 2 4 3 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNICBOM8[11]_LC_42)
set_location DUTY_CYCLE1_RNIDIQ59[12] 2 4 7 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIDIQ59[12]_LC_43)
set_location DUTY_CYCLE1_RNIDU8O1[7] 5 3 1 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIDU8O1[7]_LC_44)
set_location DUTY_CYCLE1_RNIE69S1[16] 5 4 1 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIE69S1[16]_LC_45)
set_location DUTY_CYCLE1_RNIEO8K1[7] 4 4 6 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIEO8K1[7]_LC_46)
set_location DUTY_CYCLE1_RNIMK6B1[9] 2 3 2 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIMK6B1[9]_LC_47)
set_location DUTY_CYCLE1_RNISP8M1[5] 5 3 4 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNISP8M1[5]_LC_48)
set_location DUTY_CYCLE1_RNIV2B52[4] 5 3 2 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIV2B52[4]_LC_49)
set_location DUTY_CYCLE1_RNIVGQ39[5] 2 3 0 # SB_LUT4 (LogicCell: DUTY_CYCLE1_RNIVGQ39[5]_LC_50)
set_location DUTY_CYCLE1_RNO[10] 4 3 6 # SB_LUT4 (LogicCell: DUTY_CYCLE1[10]_LC_51)
set_location DUTY_CYCLE1[10] 4 3 6 # SB_DFF (LogicCell: DUTY_CYCLE1[10]_LC_51)
set_location un1_DUTY_CYCLE1_2_cry_10_c 4 3 6 # SB_CARRY (LogicCell: DUTY_CYCLE1[10]_LC_51)
set_location DUTY_CYCLE1_RNO[11] 4 3 7 # SB_LUT4 (LogicCell: DUTY_CYCLE1[11]_LC_52)
set_location DUTY_CYCLE1[11] 4 3 7 # SB_DFF (LogicCell: DUTY_CYCLE1[11]_LC_52)
set_location un1_DUTY_CYCLE1_2_cry_11_0_c 4 3 7 # SB_CARRY (LogicCell: DUTY_CYCLE1[11]_LC_52)
set_location DUTY_CYCLE1_RNO[12] 4 4 0 # SB_LUT4 (LogicCell: DUTY_CYCLE1[12]_LC_53)
set_location DUTY_CYCLE1[12] 4 4 0 # SB_DFF (LogicCell: DUTY_CYCLE1[12]_LC_53)
set_location un1_DUTY_CYCLE1_2_cry_12_c 4 4 0 # SB_CARRY (LogicCell: DUTY_CYCLE1[12]_LC_53)
set_location DUTY_CYCLE1_RNO[13] 4 4 1 # SB_LUT4 (LogicCell: DUTY_CYCLE1[13]_LC_54)
set_location DUTY_CYCLE1[13] 4 4 1 # SB_DFF (LogicCell: DUTY_CYCLE1[13]_LC_54)
set_location un1_DUTY_CYCLE1_2_cry_13_0_c 4 4 1 # SB_CARRY (LogicCell: DUTY_CYCLE1[13]_LC_54)
set_location DUTY_CYCLE1_RNO[14] 4 4 2 # SB_LUT4 (LogicCell: DUTY_CYCLE1[14]_LC_55)
set_location DUTY_CYCLE1[14] 4 4 2 # SB_DFF (LogicCell: DUTY_CYCLE1[14]_LC_55)
set_location un1_DUTY_CYCLE1_2_cry_14_0_c 4 4 2 # SB_CARRY (LogicCell: DUTY_CYCLE1[14]_LC_55)
set_location DUTY_CYCLE1_RNO[15] 4 4 3 # SB_LUT4 (LogicCell: DUTY_CYCLE1[15]_LC_56)
set_location DUTY_CYCLE1[15] 4 4 3 # SB_DFF (LogicCell: DUTY_CYCLE1[15]_LC_56)
set_location un1_DUTY_CYCLE1_2_cry_15_0_c 4 4 3 # SB_CARRY (LogicCell: DUTY_CYCLE1[15]_LC_56)
set_location DUTY_CYCLE1_RNO[16] 4 4 4 # SB_LUT4 (LogicCell: DUTY_CYCLE1[16]_LC_57)
set_location DUTY_CYCLE1[16] 4 4 4 # SB_DFF (LogicCell: DUTY_CYCLE1[16]_LC_57)
set_location DUTY_CYCLE1_RNO[4] 5 3 6 # SB_LUT4 (LogicCell: DUTY_CYCLE1[4]_LC_58)
set_location DUTY_CYCLE1[4] 5 3 6 # SB_DFF (LogicCell: DUTY_CYCLE1[4]_LC_58)
set_location DUTY_CYCLE1_RNO[5] 4 3 1 # SB_LUT4 (LogicCell: DUTY_CYCLE1[5]_LC_59)
set_location DUTY_CYCLE1[5] 4 3 1 # SB_DFF (LogicCell: DUTY_CYCLE1[5]_LC_59)
set_location un1_DUTY_CYCLE1_2_cry_5_c 4 3 1 # SB_CARRY (LogicCell: DUTY_CYCLE1[5]_LC_59)
set_location DUTY_CYCLE1_RNO[6] 4 3 2 # SB_LUT4 (LogicCell: DUTY_CYCLE1[6]_LC_60)
set_location DUTY_CYCLE1[6] 4 3 2 # SB_DFF (LogicCell: DUTY_CYCLE1[6]_LC_60)
set_location un1_DUTY_CYCLE1_2_cry_6_c 4 3 2 # SB_CARRY (LogicCell: DUTY_CYCLE1[6]_LC_60)
set_location DUTY_CYCLE1_RNO[7] 4 3 3 # SB_LUT4 (LogicCell: DUTY_CYCLE1[7]_LC_61)
set_location DUTY_CYCLE1[7] 4 3 3 # SB_DFF (LogicCell: DUTY_CYCLE1[7]_LC_61)
set_location un1_DUTY_CYCLE1_2_cry_7_0_c 4 3 3 # SB_CARRY (LogicCell: DUTY_CYCLE1[7]_LC_61)
set_location DUTY_CYCLE1_RNO[8] 4 3 4 # SB_LUT4 (LogicCell: DUTY_CYCLE1[8]_LC_62)
set_location DUTY_CYCLE1[8] 4 3 4 # SB_DFF (LogicCell: DUTY_CYCLE1[8]_LC_62)
set_location un1_DUTY_CYCLE1_2_cry_8_c 4 3 4 # SB_CARRY (LogicCell: DUTY_CYCLE1[8]_LC_62)
set_location DUTY_CYCLE1_RNO[9] 4 3 5 # SB_LUT4 (LogicCell: DUTY_CYCLE1[9]_LC_63)
set_location DUTY_CYCLE1[9] 4 3 5 # SB_DFF (LogicCell: DUTY_CYCLE1[9]_LC_63)
set_location un1_DUTY_CYCLE1_2_cry_9_c 4 3 5 # SB_CARRY (LogicCell: DUTY_CYCLE1[9]_LC_63)
set_location PWM_DFF2.Q_RNI2ASJ1 5 5 1 # SB_LUT4 (LogicCell: PWM_DFF2.Q_RNI2ASJ1_LC_64)
set_location PWM_DFF2.Q_RNIGKVT 6 4 0 # SB_LUT4 (LogicCell: PWM_DFF2.Q_RNIGKVT_LC_65)
set_location PWM_DFF2.Q_RNIGUU86 5 5 5 # SB_LUT4 (LogicCell: PWM_DFF2.Q_RNIGUU86_LC_66)
set_location PWM_DFF4.Q_RNIEU26C 6 5 5 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_LC_67)
set_location PWM_DFF4.Q_RNIEU26C_0 6 6 7 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_0_LC_68)
set_location PWM_DFF4.Q_RNIEU26C_1 5 7 7 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_1_LC_69)
set_location PWM_DFF4.Q_RNIEU26C_2 6 7 6 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_2_LC_70)
set_location PWM_DFF4.Q_RNIEU26C_3 5 5 7 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_3_LC_71)
set_location PWM_DFF4.Q_RNIEU26C_4 5 4 4 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_4_LC_72)
set_location PWM_DFF4.Q_RNIEU26C_5 5 4 6 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIEU26C_5_LC_73)
set_location PWM_DFF4.Q_RNIUV3T5 6 5 4 # SB_LUT4 (LogicCell: PWM_DFF4.Q_RNIUV3T5_LC_74)
set_location PWM_DFF6.Q_RNI0DI21 5 3 3 # SB_LUT4 (LogicCell: PWM_DFF6.Q_RNI0DI21_LC_75)
set_location PWM_DFF8.Q_RNI8DHB6 5 3 5 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNI8DHB6_LC_76)
set_location PWM_DFF8.Q_RNIKO92F 5 4 7 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNIKO92F_LC_77)
set_location PWM_DFF8.Q_RNIKO92F_0 5 4 0 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNIKO92F_0_LC_78)
set_location PWM_DFF8.Q_RNIKO92F_1 5 4 2 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNIKO92F_1_LC_79)
set_location PWM_DFF8.Q_RNIKO92F_2 2 3 5 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNIKO92F_2_LC_80)
set_location PWM_DFF8.Q_RNIKO92F_3 5 4 5 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNIKO92F_3_LC_81)
set_location PWM_DFF8.Q_RNIV9KJ 5 3 7 # SB_LUT4 (LogicCell: PWM_DFF8.Q_RNIV9KJ_LC_82)
set_location PWM_OUT0_cry_10_c_inv 2 9 6 # SB_LUT4 (LogicCell: PWM_OUT0_cry_10_c_inv_LC_83)
set_location PWM_OUT0_cry_10_c 2 9 6 # SB_CARRY (LogicCell: PWM_OUT0_cry_10_c_inv_LC_83)
set_location PWM_OUT0_cry_11_c_inv 2 9 7 # SB_LUT4 (LogicCell: PWM_OUT0_cry_11_c_inv_LC_84)
set_location PWM_OUT0_cry_11_c 2 9 7 # SB_CARRY (LogicCell: PWM_OUT0_cry_11_c_inv_LC_84)
set_location PWM_OUT0_cry_12_c_inv 2 10 0 # SB_LUT4 (LogicCell: PWM_OUT0_cry_12_c_inv_LC_85)
set_location PWM_OUT0_cry_12_c 2 10 0 # SB_CARRY (LogicCell: PWM_OUT0_cry_12_c_inv_LC_85)
set_location PWM_OUT0_cry_13_c_inv 2 10 1 # SB_LUT4 (LogicCell: PWM_OUT0_cry_13_c_inv_LC_86)
set_location PWM_OUT0_cry_13_c 2 10 1 # SB_CARRY (LogicCell: PWM_OUT0_cry_13_c_inv_LC_86)
set_location PWM_OUT0_cry_14_c_inv 2 10 2 # SB_LUT4 (LogicCell: PWM_OUT0_cry_14_c_inv_LC_87)
set_location PWM_OUT0_cry_14_c 2 10 2 # SB_CARRY (LogicCell: PWM_OUT0_cry_14_c_inv_LC_87)
set_location PWM_OUT0_cry_15_c_inv 2 10 3 # SB_LUT4 (LogicCell: PWM_OUT0_cry_15_c_inv_LC_88)
set_location PWM_OUT0_cry_15_c 2 10 3 # SB_CARRY (LogicCell: PWM_OUT0_cry_15_c_inv_LC_88)
set_location PWM_OUT0_cry_16_c_inv 2 10 4 # SB_LUT4 (LogicCell: PWM_OUT0_cry_16_c_inv_LC_89)
set_location PWM_OUT0_cry_16_c 2 10 4 # SB_CARRY (LogicCell: PWM_OUT0_cry_16_c_inv_LC_89)
set_location PWM_OUT0_cry_17_c_inv 2 10 5 # SB_LUT4 (LogicCell: PWM_OUT0_cry_17_c_inv_LC_90)
set_location PWM_OUT0_cry_17_c 2 10 5 # SB_CARRY (LogicCell: PWM_OUT0_cry_17_c_inv_LC_90)
set_location PWM_OUT0_cry_4_c_inv 2 9 0 # SB_LUT4 (LogicCell: PWM_OUT0_cry_4_c_inv_LC_91)
set_location PWM_OUT0_cry_4_c 2 9 0 # SB_CARRY (LogicCell: PWM_OUT0_cry_4_c_inv_LC_91)
set_location PWM_OUT0_cry_5_c_inv 2 9 1 # SB_LUT4 (LogicCell: PWM_OUT0_cry_5_c_inv_LC_92)
set_location PWM_OUT0_cry_5_c 2 9 1 # SB_CARRY (LogicCell: PWM_OUT0_cry_5_c_inv_LC_92)
set_location PWM_OUT0_cry_6_c_inv 2 9 2 # SB_LUT4 (LogicCell: PWM_OUT0_cry_6_c_inv_LC_93)
set_location PWM_OUT0_cry_6_c 2 9 2 # SB_CARRY (LogicCell: PWM_OUT0_cry_6_c_inv_LC_93)
set_location PWM_OUT0_cry_7_c_inv 2 9 3 # SB_LUT4 (LogicCell: PWM_OUT0_cry_7_c_inv_LC_94)
set_location PWM_OUT0_cry_7_c 2 9 3 # SB_CARRY (LogicCell: PWM_OUT0_cry_7_c_inv_LC_94)
set_location PWM_OUT0_cry_8_c_inv 2 9 4 # SB_LUT4 (LogicCell: PWM_OUT0_cry_8_c_inv_LC_95)
set_location PWM_OUT0_cry_8_c 2 9 4 # SB_CARRY (LogicCell: PWM_OUT0_cry_8_c_inv_LC_95)
set_location PWM_OUT0_cry_9_c_inv 2 9 5 # SB_LUT4 (LogicCell: PWM_OUT0_cry_9_c_inv_LC_96)
set_location PWM_OUT0_cry_9_c 2 9 5 # SB_CARRY (LogicCell: PWM_OUT0_cry_9_c_inv_LC_96)
set_location PWM_OUT1_cry_10_c_inv 2 1 6 # SB_LUT4 (LogicCell: PWM_OUT1_cry_10_c_inv_LC_97)
set_location PWM_OUT1_cry_10_c 2 1 6 # SB_CARRY (LogicCell: PWM_OUT1_cry_10_c_inv_LC_97)
set_location PWM_OUT1_cry_11_c_inv 2 1 7 # SB_LUT4 (LogicCell: PWM_OUT1_cry_11_c_inv_LC_98)
set_location PWM_OUT1_cry_11_c 2 1 7 # SB_CARRY (LogicCell: PWM_OUT1_cry_11_c_inv_LC_98)
set_location PWM_OUT1_cry_12_c_inv 2 2 0 # SB_LUT4 (LogicCell: PWM_OUT1_cry_12_c_inv_LC_99)
set_location PWM_OUT1_cry_12_c 2 2 0 # SB_CARRY (LogicCell: PWM_OUT1_cry_12_c_inv_LC_99)
set_location PWM_OUT1_cry_13_c_inv 2 2 1 # SB_LUT4 (LogicCell: PWM_OUT1_cry_13_c_inv_LC_100)
set_location PWM_OUT1_cry_13_c 2 2 1 # SB_CARRY (LogicCell: PWM_OUT1_cry_13_c_inv_LC_100)
set_location PWM_OUT1_cry_14_c_inv 2 2 2 # SB_LUT4 (LogicCell: PWM_OUT1_cry_14_c_inv_LC_101)
set_location PWM_OUT1_cry_14_c 2 2 2 # SB_CARRY (LogicCell: PWM_OUT1_cry_14_c_inv_LC_101)
set_location PWM_OUT1_cry_15_c_inv 2 2 3 # SB_LUT4 (LogicCell: PWM_OUT1_cry_15_c_inv_LC_102)
set_location PWM_OUT1_cry_15_c 2 2 3 # SB_CARRY (LogicCell: PWM_OUT1_cry_15_c_inv_LC_102)
set_location PWM_OUT1_cry_16_c_inv 2 2 4 # SB_LUT4 (LogicCell: PWM_OUT1_cry_16_c_inv_LC_103)
set_location PWM_OUT1_cry_16_c 2 2 4 # SB_CARRY (LogicCell: PWM_OUT1_cry_16_c_inv_LC_103)
set_location PWM_OUT1_cry_4_c_inv 2 1 0 # SB_LUT4 (LogicCell: PWM_OUT1_cry_4_c_inv_LC_104)
set_location PWM_OUT1_cry_4_c 2 1 0 # SB_CARRY (LogicCell: PWM_OUT1_cry_4_c_inv_LC_104)
set_location PWM_OUT1_cry_5_c_inv 2 1 1 # SB_LUT4 (LogicCell: PWM_OUT1_cry_5_c_inv_LC_105)
set_location PWM_OUT1_cry_5_c 2 1 1 # SB_CARRY (LogicCell: PWM_OUT1_cry_5_c_inv_LC_105)
set_location PWM_OUT1_cry_6_c_inv 2 1 2 # SB_LUT4 (LogicCell: PWM_OUT1_cry_6_c_inv_LC_106)
set_location PWM_OUT1_cry_6_c 2 1 2 # SB_CARRY (LogicCell: PWM_OUT1_cry_6_c_inv_LC_106)
set_location PWM_OUT1_cry_7_c_inv 2 1 3 # SB_LUT4 (LogicCell: PWM_OUT1_cry_7_c_inv_LC_107)
set_location PWM_OUT1_cry_7_c 2 1 3 # SB_CARRY (LogicCell: PWM_OUT1_cry_7_c_inv_LC_107)
set_location PWM_OUT1_cry_8_c_inv 2 1 4 # SB_LUT4 (LogicCell: PWM_OUT1_cry_8_c_inv_LC_108)
set_location PWM_OUT1_cry_8_c 2 1 4 # SB_CARRY (LogicCell: PWM_OUT1_cry_8_c_inv_LC_108)
set_location PWM_OUT1_cry_9_c_inv 2 1 5 # SB_LUT4 (LogicCell: PWM_OUT1_cry_9_c_inv_LC_109)
set_location PWM_OUT1_cry_9_c 2 1 5 # SB_CARRY (LogicCell: PWM_OUT1_cry_9_c_inv_LC_109)
set_location counter_PWM0_RNI313J[15] 2 8 1 # SB_LUT4 (LogicCell: counter_PWM0_RNI313J[15]_LC_110)
set_location counter_PWM0_RNIF6V91[11] 2 8 6 # SB_LUT4 (LogicCell: counter_PWM0_RNIF6V91[11]_LC_111)
set_location counter_PWM0_RNIL85G2[17] 2 8 7 # SB_LUT4 (LogicCell: counter_PWM0_RNIL85G2[17]_LC_112)
set_location counter_PWM0_RNILVAD[7] 2 8 5 # SB_LUT4 (LogicCell: counter_PWM0_RNILVAD[7]_LC_113)
set_location counter_PWM0_RNO[0] 1 6 6 # SB_LUT4 (LogicCell: counter_PWM0[0]_LC_114)
set_location counter_PWM0[0] 1 6 6 # SB_DFFSR (LogicCell: counter_PWM0[0]_LC_114)
set_location counter_PWM0_RNO[1] 1 6 4 # SB_LUT4 (LogicCell: counter_PWM0[1]_LC_115)
set_location counter_PWM0[1] 1 6 4 # SB_DFFSR (LogicCell: counter_PWM0[1]_LC_115)
set_location counter_PWM0_RNO[10] 1 8 1 # SB_LUT4 (LogicCell: counter_PWM0[10]_LC_116)
set_location counter_PWM0[10] 1 8 1 # SB_DFFSR (LogicCell: counter_PWM0[10]_LC_116)
set_location counter_PWM0_1_cry_10_c 1 8 1 # SB_CARRY (LogicCell: counter_PWM0[10]_LC_116)
set_location counter_PWM0_RNO[11] 1 8 2 # SB_LUT4 (LogicCell: counter_PWM0[11]_LC_117)
set_location counter_PWM0[11] 1 8 2 # SB_DFFSR (LogicCell: counter_PWM0[11]_LC_117)
set_location counter_PWM0_1_cry_11_c 1 8 2 # SB_CARRY (LogicCell: counter_PWM0[11]_LC_117)
set_location counter_PWM0_RNO[12] 1 8 3 # SB_LUT4 (LogicCell: counter_PWM0[12]_LC_118)
set_location counter_PWM0[12] 1 8 3 # SB_DFFSR (LogicCell: counter_PWM0[12]_LC_118)
set_location counter_PWM0_1_cry_12_c 1 8 3 # SB_CARRY (LogicCell: counter_PWM0[12]_LC_118)
set_location counter_PWM0_RNO[13] 1 8 4 # SB_LUT4 (LogicCell: counter_PWM0[13]_LC_119)
set_location counter_PWM0[13] 1 8 4 # SB_DFFSR (LogicCell: counter_PWM0[13]_LC_119)
set_location counter_PWM0_1_cry_13_c 1 8 4 # SB_CARRY (LogicCell: counter_PWM0[13]_LC_119)
set_location counter_PWM0_RNO[14] 1 8 5 # SB_LUT4 (LogicCell: counter_PWM0[14]_LC_120)
set_location counter_PWM0[14] 1 8 5 # SB_DFFSR (LogicCell: counter_PWM0[14]_LC_120)
set_location counter_PWM0_1_cry_14_c 1 8 5 # SB_CARRY (LogicCell: counter_PWM0[14]_LC_120)
set_location counter_PWM0_RNO[15] 1 8 6 # SB_LUT4 (LogicCell: counter_PWM0[15]_LC_121)
set_location counter_PWM0[15] 1 8 6 # SB_DFFSR (LogicCell: counter_PWM0[15]_LC_121)
set_location counter_PWM0_1_cry_15_c 1 8 6 # SB_CARRY (LogicCell: counter_PWM0[15]_LC_121)
set_location counter_PWM0_RNO[16] 1 8 7 # SB_LUT4 (LogicCell: counter_PWM0[16]_LC_122)
set_location counter_PWM0[16] 1 8 7 # SB_DFFSR (LogicCell: counter_PWM0[16]_LC_122)
set_location counter_PWM0_1_cry_16_c 1 8 7 # SB_CARRY (LogicCell: counter_PWM0[16]_LC_122)
set_location counter_PWM0_RNO[17] 1 9 0 # SB_LUT4 (LogicCell: counter_PWM0[17]_LC_123)
set_location counter_PWM0[17] 1 9 0 # SB_DFFSR (LogicCell: counter_PWM0[17]_LC_123)
set_location counter_PWM0_RNO[2] 1 7 1 # SB_LUT4 (LogicCell: counter_PWM0[2]_LC_124)
set_location counter_PWM0[2] 1 7 1 # SB_DFFSR (LogicCell: counter_PWM0[2]_LC_124)
set_location counter_PWM0_1_cry_2_c 1 7 1 # SB_CARRY (LogicCell: counter_PWM0[2]_LC_124)
set_location counter_PWM0_RNO[3] 1 7 2 # SB_LUT4 (LogicCell: counter_PWM0[3]_LC_125)
set_location counter_PWM0[3] 1 7 2 # SB_DFFSR (LogicCell: counter_PWM0[3]_LC_125)
set_location counter_PWM0_1_cry_3_c 1 7 2 # SB_CARRY (LogicCell: counter_PWM0[3]_LC_125)
set_location counter_PWM0_RNO[4] 1 7 3 # SB_LUT4 (LogicCell: counter_PWM0[4]_LC_126)
set_location counter_PWM0[4] 1 7 3 # SB_DFFSR (LogicCell: counter_PWM0[4]_LC_126)
set_location counter_PWM0_1_cry_4_c 1 7 3 # SB_CARRY (LogicCell: counter_PWM0[4]_LC_126)
set_location counter_PWM0_RNO[5] 1 7 4 # SB_LUT4 (LogicCell: counter_PWM0[5]_LC_127)
set_location counter_PWM0[5] 1 7 4 # SB_DFFSR (LogicCell: counter_PWM0[5]_LC_127)
set_location counter_PWM0_1_cry_5_c 1 7 4 # SB_CARRY (LogicCell: counter_PWM0[5]_LC_127)
set_location counter_PWM0_RNO[6] 1 7 5 # SB_LUT4 (LogicCell: counter_PWM0[6]_LC_128)
set_location counter_PWM0[6] 1 7 5 # SB_DFFSR (LogicCell: counter_PWM0[6]_LC_128)
set_location counter_PWM0_1_cry_6_c 1 7 5 # SB_CARRY (LogicCell: counter_PWM0[6]_LC_128)
set_location counter_PWM0_RNO[7] 1 7 6 # SB_LUT4 (LogicCell: counter_PWM0[7]_LC_129)
set_location counter_PWM0[7] 1 7 6 # SB_DFFSR (LogicCell: counter_PWM0[7]_LC_129)
set_location counter_PWM0_1_cry_7_c 1 7 6 # SB_CARRY (LogicCell: counter_PWM0[7]_LC_129)
set_location counter_PWM0_RNO[8] 1 7 7 # SB_LUT4 (LogicCell: counter_PWM0[8]_LC_130)
set_location counter_PWM0[8] 1 7 7 # SB_DFFSR (LogicCell: counter_PWM0[8]_LC_130)
set_location counter_PWM0_1_cry_8_c 1 7 7 # SB_CARRY (LogicCell: counter_PWM0[8]_LC_130)
set_location counter_PWM0_RNO[9] 1 8 0 # SB_LUT4 (LogicCell: counter_PWM0[9]_LC_131)
set_location counter_PWM0[9] 1 8 0 # SB_DFFSR (LogicCell: counter_PWM0[9]_LC_131)
set_location counter_PWM0_1_cry_9_c 1 8 0 # SB_CARRY (LogicCell: counter_PWM0[9]_LC_131)
set_location counter_PWM1_RNO[0] 1 1 0 # SB_LUT4 (LogicCell: counter_PWM1[0]_LC_132)
set_location counter_PWM1[0] 1 1 0 # SB_DFF (LogicCell: counter_PWM1[0]_LC_132)
set_location counter_PWM1_cry_c[0] 1 1 0 # SB_CARRY (LogicCell: counter_PWM1[0]_LC_132)
set_location counter_PWM1_RNO[1] 1 1 1 # SB_LUT4 (LogicCell: counter_PWM1[1]_LC_133)
set_location counter_PWM1[1] 1 1 1 # SB_DFF (LogicCell: counter_PWM1[1]_LC_133)
set_location counter_PWM1_cry_c[1] 1 1 1 # SB_CARRY (LogicCell: counter_PWM1[1]_LC_133)
set_location counter_PWM1_RNO[10] 1 2 2 # SB_LUT4 (LogicCell: counter_PWM1[10]_LC_134)
set_location counter_PWM1[10] 1 2 2 # SB_DFF (LogicCell: counter_PWM1[10]_LC_134)
set_location counter_PWM1_cry_c[10] 1 2 2 # SB_CARRY (LogicCell: counter_PWM1[10]_LC_134)
set_location counter_PWM1_RNO[11] 1 2 3 # SB_LUT4 (LogicCell: counter_PWM1[11]_LC_135)
set_location counter_PWM1[11] 1 2 3 # SB_DFF (LogicCell: counter_PWM1[11]_LC_135)
set_location counter_PWM1_cry_c[11] 1 2 3 # SB_CARRY (LogicCell: counter_PWM1[11]_LC_135)
set_location counter_PWM1_RNO[12] 1 2 4 # SB_LUT4 (LogicCell: counter_PWM1[12]_LC_136)
set_location counter_PWM1[12] 1 2 4 # SB_DFF (LogicCell: counter_PWM1[12]_LC_136)
set_location counter_PWM1_cry_c[12] 1 2 4 # SB_CARRY (LogicCell: counter_PWM1[12]_LC_136)
set_location counter_PWM1_RNO[13] 1 2 5 # SB_LUT4 (LogicCell: counter_PWM1[13]_LC_137)
set_location counter_PWM1[13] 1 2 5 # SB_DFF (LogicCell: counter_PWM1[13]_LC_137)
set_location counter_PWM1_cry_c[13] 1 2 5 # SB_CARRY (LogicCell: counter_PWM1[13]_LC_137)
set_location counter_PWM1_RNO[14] 1 2 6 # SB_LUT4 (LogicCell: counter_PWM1[14]_LC_138)
set_location counter_PWM1[14] 1 2 6 # SB_DFF (LogicCell: counter_PWM1[14]_LC_138)
set_location counter_PWM1_cry_c[14] 1 2 6 # SB_CARRY (LogicCell: counter_PWM1[14]_LC_138)
set_location counter_PWM1_RNO[15] 1 2 7 # SB_LUT4 (LogicCell: counter_PWM1[15]_LC_139)
set_location counter_PWM1[15] 1 2 7 # SB_DFF (LogicCell: counter_PWM1[15]_LC_139)
set_location counter_PWM1_cry_c[15] 1 2 7 # SB_CARRY (LogicCell: counter_PWM1[15]_LC_139)
set_location counter_PWM1_RNO[16] 1 3 0 # SB_LUT4 (LogicCell: counter_PWM1[16]_LC_140)
set_location counter_PWM1[16] 1 3 0 # SB_DFF (LogicCell: counter_PWM1[16]_LC_140)
set_location counter_PWM1_RNO[2] 1 1 2 # SB_LUT4 (LogicCell: counter_PWM1[2]_LC_141)
set_location counter_PWM1[2] 1 1 2 # SB_DFF (LogicCell: counter_PWM1[2]_LC_141)
set_location counter_PWM1_cry_c[2] 1 1 2 # SB_CARRY (LogicCell: counter_PWM1[2]_LC_141)
set_location counter_PWM1_RNO[3] 1 1 3 # SB_LUT4 (LogicCell: counter_PWM1[3]_LC_142)
set_location counter_PWM1[3] 1 1 3 # SB_DFF (LogicCell: counter_PWM1[3]_LC_142)
set_location counter_PWM1_cry_c[3] 1 1 3 # SB_CARRY (LogicCell: counter_PWM1[3]_LC_142)
set_location counter_PWM1_RNO[4] 1 1 4 # SB_LUT4 (LogicCell: counter_PWM1[4]_LC_143)
set_location counter_PWM1[4] 1 1 4 # SB_DFF (LogicCell: counter_PWM1[4]_LC_143)
set_location counter_PWM1_cry_c[4] 1 1 4 # SB_CARRY (LogicCell: counter_PWM1[4]_LC_143)
set_location counter_PWM1_RNO[5] 1 1 5 # SB_LUT4 (LogicCell: counter_PWM1[5]_LC_144)
set_location counter_PWM1[5] 1 1 5 # SB_DFF (LogicCell: counter_PWM1[5]_LC_144)
set_location counter_PWM1_cry_c[5] 1 1 5 # SB_CARRY (LogicCell: counter_PWM1[5]_LC_144)
set_location counter_PWM1_RNO[6] 1 1 6 # SB_LUT4 (LogicCell: counter_PWM1[6]_LC_145)
set_location counter_PWM1[6] 1 1 6 # SB_DFF (LogicCell: counter_PWM1[6]_LC_145)
set_location counter_PWM1_cry_c[6] 1 1 6 # SB_CARRY (LogicCell: counter_PWM1[6]_LC_145)
set_location counter_PWM1_RNO[7] 1 1 7 # SB_LUT4 (LogicCell: counter_PWM1[7]_LC_146)
set_location counter_PWM1[7] 1 1 7 # SB_DFF (LogicCell: counter_PWM1[7]_LC_146)
set_location counter_PWM1_cry_c[7] 1 1 7 # SB_CARRY (LogicCell: counter_PWM1[7]_LC_146)
set_location counter_PWM1_RNO[8] 1 2 0 # SB_LUT4 (LogicCell: counter_PWM1[8]_LC_147)
set_location counter_PWM1[8] 1 2 0 # SB_DFF (LogicCell: counter_PWM1[8]_LC_147)
set_location counter_PWM1_cry_c[8] 1 2 0 # SB_CARRY (LogicCell: counter_PWM1[8]_LC_147)
set_location counter_PWM1_RNO[9] 1 2 1 # SB_LUT4 (LogicCell: counter_PWM1[9]_LC_148)
set_location counter_PWM1[9] 1 2 1 # SB_DFF (LogicCell: counter_PWM1[9]_LC_148)
set_location counter_PWM1_cry_c[9] 1 2 1 # SB_CARRY (LogicCell: counter_PWM1[9]_LC_148)
set_location counter_debounce_RNO[0] 5 4 3 # SB_LUT4 (LogicCell: counter_debounce[0]_LC_149)
set_location counter_debounce[0] 5 4 3 # SB_DFF (LogicCell: counter_debounce[0]_LC_149)
set_location un1_DUTY_CYCLE0_2_cry_4_c_RNO 5 5 6 # SB_LUT4 (LogicCell: un1_DUTY_CYCLE0_2_cry_4_c_RNO_LC_150)
set_location un1_DUTY_CYCLE1_2_cry_4_c_RNO 4 4 5 # SB_LUT4 (LogicCell: un1_DUTY_CYCLE1_2_cry_4_c_RNO_LC_151)
set_location PWM_DFF1.Q_THRU_LUT4_0 6 3 2 # SB_LUT4 (LogicCell: PWM_DFF1.Q_LC_152)
set_location PWM_DFF1.Q 6 3 2 # SB_DFFE (LogicCell: PWM_DFF1.Q_LC_152)
set_location PWM_DFF2.Q_THRU_LUT4_0 6 3 0 # SB_LUT4 (LogicCell: PWM_DFF2.Q_LC_153)
set_location PWM_DFF2.Q 6 3 0 # SB_DFFE (LogicCell: PWM_DFF2.Q_LC_153)
set_location PWM_DFF3.Q_THRU_LUT4_0 7 4 7 # SB_LUT4 (LogicCell: PWM_DFF3.Q_LC_154)
set_location PWM_DFF3.Q 7 4 7 # SB_DFFE (LogicCell: PWM_DFF3.Q_LC_154)
set_location PWM_DFF4.Q_THRU_LUT4_0 7 4 2 # SB_LUT4 (LogicCell: PWM_DFF4.Q_LC_155)
set_location PWM_DFF4.Q 7 4 2 # SB_DFFE (LogicCell: PWM_DFF4.Q_LC_155)
set_location PWM_DFF5.Q_THRU_LUT4_0 5 2 2 # SB_LUT4 (LogicCell: PWM_DFF5.Q_LC_156)
set_location PWM_DFF5.Q 5 2 2 # SB_DFFE (LogicCell: PWM_DFF5.Q_LC_156)
set_location PWM_DFF6.Q_THRU_LUT4_0 5 2 1 # SB_LUT4 (LogicCell: PWM_DFF6.Q_LC_157)
set_location PWM_DFF6.Q 5 2 1 # SB_DFFE (LogicCell: PWM_DFF6.Q_LC_157)
set_location PWM_DFF7.Q_THRU_LUT4_0 6 3 1 # SB_LUT4 (LogicCell: PWM_DFF7.Q_LC_158)
set_location PWM_DFF7.Q 6 3 1 # SB_DFFE (LogicCell: PWM_DFF7.Q_LC_158)
set_location PWM_DFF8.Q_THRU_LUT4_0 6 3 3 # SB_LUT4 (LogicCell: PWM_DFF8.Q_LC_159)
set_location PWM_DFF8.Q 6 3 3 # SB_DFFE (LogicCell: PWM_DFF8.Q_LC_159)
set_location PWM_OUT0_c_THRU_LUT4_0 2 10 7 # SB_LUT4 (LogicCell: PWM_OUT0_c_THRU_LUT4_0_LC_160)
set_location PWM_OUT1_c_THRU_LUT4_0 2 2 5 # SB_LUT4 (LogicCell: PWM_OUT1_c_THRU_LUT4_0_LC_161)
set_location PWM_OUT0_cry_18_c 2 10 6 # SB_CARRY (LogicCell: PWM_OUT0_cry_18_c_LC_162)
set_location counter_PWM0_1_cry_1_c 1 7 0 # SB_CARRY (LogicCell: counter_PWM0_1_cry_1_c_LC_163)
set_location un1_DUTY_CYCLE0_2_cry_4_c 5 6 0 # SB_CARRY (LogicCell: un1_DUTY_CYCLE0_2_cry_4_c_LC_164)
set_location un1_DUTY_CYCLE1_2_cry_4_c 4 3 0 # SB_CARRY (LogicCell: un1_DUTY_CYCLE1_2_cry_4_c_LC_165)
set_location GND -1 -1 -1 # GND
set_io PWM_OUT0_obuf 9 0 1 # ICE_IO
set_io PWM_OUT1_obuf 5 0 0 # ICE_IO
set_io clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io counter_PWM0_RNIL85G2_0[17] 0 8 1 # ICE_GB
set_io decrease_duty0_ibuf 9 0 0 # ICE_IO
set_io decrease_duty1_ibuf 4 0 1 # ICE_IO
set_io increase_duty0_ibuf 8 0 1 # ICE_IO
set_io increase_duty1_ibuf 4 0 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 1 10 0 # SB_LUT4 (LogicCell: LC_166)
