set_location IN_MUX_bfv_4_3_0_ 4 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_4_0_ 4 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_6_0_ 5 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_7_0_ 5 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_9_0_ 1 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_1_0_ 1 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_2_0_ 1 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_3_0_ 1 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_1_0_ 2 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_2_0_ 2 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 10 0 #SB_LUT4
set_location PWM_OUT1_c_THRU_LUT4_0 2 2 5 #SB_LUT4
set_location PWM_OUT0_c_THRU_LUT4_0 2 10 7 #SB_LUT4
set_location PWM_DFF8.Q_THRU_LUT4_0 6 3 3 #SB_LUT4
set_location PWM_DFF7.Q_THRU_LUT4_0 6 3 1 #SB_LUT4
set_location PWM_DFF6.Q_THRU_LUT4_0 5 2 1 #SB_LUT4
set_location PWM_DFF5.Q_THRU_LUT4_0 5 2 2 #SB_LUT4
set_location PWM_DFF4.Q_THRU_LUT4_0 7 4 2 #SB_LUT4
set_location PWM_DFF3.Q_THRU_LUT4_0 7 4 7 #SB_LUT4
set_location PWM_DFF2.Q_THRU_LUT4_0 6 3 0 #SB_LUT4
set_location PWM_DFF1.Q_THRU_LUT4_0 6 3 2 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_4_c 5 6 0 #SB_CARRY
set_location counter_PWM1_cry_c[0] 1 1 0 #SB_CARRY
set_location counter_PWM1_RNO[9] 1 2 1 #SB_LUT4
set_location counter_PWM1[5] 1 1 5 #SB_DFF
set_location DUTY_CYCLE0_RNI54UK6[8] 4 6 6 #SB_LUT4
set_location counter_PWM1[15] 1 2 7 #SB_DFF
set_location PWM_DFF8.Q_RNIKO92F_0 5 4 0 #SB_LUT4
set_location DUTY_CYCLE1_RNO[15] 4 4 3 #SB_LUT4
set_location DUTY_CYCLE1[4] 5 3 6 #SB_DFF
set_location un1_DUTY_CYCLE0_2_cry_14_0_c 5 7 2 #SB_CARRY
set_location counter_PWM1_cry_c[11] 1 2 3 #SB_CARRY
set_location PWM_OUT1_cry_15_c_inv 2 2 3 #SB_LUT4
set_location counter_PWM1_RNO[10] 1 2 2 #SB_LUT4
set_location PWM_OUT0_cry_13_c 2 10 1 #SB_CARRY
set_location DUTY_CYCLE0[6] 5 6 2 #SB_DFF
set_location counter_PWM0_1_cry_2_c 1 7 1 #SB_CARRY
set_location PWM_DFF2.Q_RNI2ASJ1 5 5 1 #SB_LUT4
set_location DUTY_CYCLE0_RNO[4] 6 6 2 #SB_LUT4
set_location PWM_OUT0_cry_4_c_inv 2 9 0 #SB_LUT4
set_location DUTY_CYCLE1_RNIDU8O1[7] 5 3 1 #SB_LUT4
set_location PWM_OUT1_cry_11_c_inv 2 1 7 #SB_LUT4
set_location PWM_OUT0_cry_4_c 2 9 0 #SB_CARRY
set_location DUTY_CYCLE0_RNO[17] 5 7 5 #SB_LUT4
set_location counter_PWM0_RNO[0] 1 6 6 #SB_LUT4
set_location counter_PWM0_1_cry_16_c 1 8 7 #SB_CARRY
set_location counter_PWM1[8] 1 2 0 #SB_DFF
set_location DUTY_CYCLE1_RNIBGQ59[10] 2 3 3 #SB_LUT4
set_location counter_PWM1[16] 1 3 0 #SB_DFF
set_location counter_PWM0_RNO[16] 1 8 7 #SB_LUT4
set_location PWM_OUT0_cry_8_c_inv 2 9 4 #SB_LUT4
set_location DUTY_CYCLE0[17] 5 7 5 #SB_DFF
set_location PWM_OUT0_cry_10_c_inv 2 9 6 #SB_LUT4
set_location un1_DUTY_CYCLE1_2_cry_15_0_c 4 4 3 #SB_CARRY
set_location counter_PWM1_RNO[15] 1 2 7 #SB_LUT4
set_location counter_PWM1_RNO[2] 1 1 2 #SB_LUT4
set_location counter_PWM1[2] 1 1 2 #SB_DFF
set_location PWM_OUT0_cry_6_c_inv 2 9 2 #SB_LUT4
set_location PWM_OUT0_cry_15_c 2 10 3 #SB_CARRY
set_location PWM_OUT0_cry_7_c_inv 2 9 3 #SB_LUT4
set_location DUTY_CYCLE0[18] 5 7 6 #SB_DFF
set_location PWM_DFF5.Q 5 2 2 #SB_DFFE
set_location PWM_OUT0_cry_14_c 2 10 2 #SB_CARRY
set_location DUTY_CYCLE0_RNO[12] 5 7 0 #SB_LUT4
set_location PWM_OUT1_cry_6_c 2 1 2 #SB_CARRY
set_location PWM_OUT0_cry_11_c_inv 2 9 7 #SB_LUT4
set_location PWM_DFF3.Q 7 4 7 #SB_DFFE
set_location counter_PWM0_RNIL85G2[17] 2 8 7 #SB_LUT4
set_location counter_PWM0[4] 1 7 3 #SB_DFFSR
set_location counter_PWM0_1_cry_10_c 1 8 1 #SB_CARRY
set_location counter_PWM0[10] 1 8 1 #SB_DFFSR
set_location PWM_OUT1_cry_6_c_inv 2 1 2 #SB_LUT4
set_location DUTY_CYCLE1[8] 4 3 4 #SB_DFF
set_location DUTY_CYCLE0_RNIDKMD1[14] 6 6 1 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_10_c 5 6 6 #SB_CARRY
set_location counter_PWM0_RNO[11] 1 8 2 #SB_LUT4
set_location counter_PWM0_1_cry_5_c 1 7 4 #SB_CARRY
set_location DUTY_CYCLE0_RNO[15] 5 7 3 #SB_LUT4
set_location un1_DUTY_CYCLE1_2_cry_11_0_c 4 3 7 #SB_CARRY
set_location counter_PWM0_RNO[6] 1 7 5 #SB_LUT4
set_location PWM_OUT0_cry_16_c 2 10 4 #SB_CARRY
set_location DUTY_CYCLE0[12] 5 7 0 #SB_DFF
set_location counter_PWM1_cry_c[3] 1 1 3 #SB_CARRY
set_location counter_PWM0[17] 1 9 0 #SB_DFFSR
set_location counter_PWM0[1] 1 6 4 #SB_DFFSR
set_location PWM_OUT1_cry_4_c 2 1 0 #SB_CARRY
set_location DUTY_CYCLE1[16] 4 4 4 #SB_DFF
set_location DUTY_CYCLE0_RNO[9] 5 6 5 #SB_LUT4
set_location DUTY_CYCLE0_RNIG1RJ6[12] 4 6 7 #SB_LUT4
set_location counter_PWM1[14] 1 2 6 #SB_DFF
set_location counter_PWM0_RNO[14] 1 8 5 #SB_LUT4
set_location PWM_OUT0_cry_11_c 2 9 7 #SB_CARRY
set_location PWM_DFF8.Q_RNIKO92F_3 5 4 5 #SB_LUT4
set_location PWM_DFF4.Q_RNIUV3T5 6 5 4 #SB_LUT4
set_location DUTY_CYCLE0_RNO[18] 5 7 6 #SB_LUT4
set_location PWM_OUT0_cry_18_c 2 10 6 #SB_CARRY
set_location DUTY_CYCLE1_RNO[9] 4 3 5 #SB_LUT4
set_location DUTY_CYCLE1_RNO[14] 4 4 2 #SB_LUT4
set_location DUTY_CYCLE1[5] 4 3 1 #SB_DFF
set_location DUTY_CYCLE0[8] 5 6 4 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_5_c 4 3 1 #SB_CARRY
set_location counter_PWM1_cry_c[4] 1 1 4 #SB_CARRY
set_location counter_PWM1_RNO[5] 1 1 5 #SB_LUT4
set_location counter_PWM1[1] 1 1 1 #SB_DFF
set_location PWM_OUT1_cry_13_c 2 2 1 #SB_CARRY
set_location PWM_OUT0_cry_7_c 2 9 3 #SB_CARRY
set_location DUTY_CYCLE1_RNIMK6B1[9] 2 3 2 #SB_LUT4
set_location DUTY_CYCLE1_RNIEO8K1[7] 4 4 6 #SB_LUT4
set_location DUTY_CYCLE1[13] 4 4 1 #SB_DFF
set_location counter_PWM1_cry_c[12] 1 2 4 #SB_CARRY
set_location counter_PWM1[11] 1 2 3 #SB_DFF
set_location DUTY_CYCLE1_RNO[11] 4 3 7 #SB_LUT4
set_location DUTY_CYCLE0[5] 5 6 1 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_13_0_c 4 4 1 #SB_CARRY
set_location counter_PWM1_cry_c[9] 1 2 1 #SB_CARRY
set_location counter_PWM1_RNO[0] 1 1 0 #SB_LUT4
set_location counter_PWM0_RNILVAD[7] 2 8 5 #SB_LUT4
set_location PWM_OUT1_cry_10_c_inv 2 1 6 #SB_LUT4
set_location PWM_DFF4.Q_RNIEU26C_3 5 5 7 #SB_LUT4
set_location DUTY_CYCLE0_RNO[7] 5 6 3 #SB_LUT4
set_location DUTY_CYCLE0_RNIFOK01[18] 6 6 4 #SB_LUT4
set_location un1_DUTY_CYCLE1_2_cry_6_c 4 3 2 #SB_CARRY
set_location counter_PWM1_cry_c[15] 1 2 7 #SB_CARRY
set_location counter_PWM0_RNIF6V91[11] 2 8 6 #SB_LUT4
set_location counter_PWM0_1_cry_14_c 1 8 5 #SB_CARRY
set_location PWM_OUT1_cry_11_c 2 1 7 #SB_CARRY
set_location PWM_OUT0_cry_15_c_inv 2 10 3 #SB_LUT4
set_location DUTY_CYCLE1_RNO[6] 4 3 2 #SB_LUT4
set_location DUTY_CYCLE1_RNIDIQ59[12] 2 4 7 #SB_LUT4
set_location DUTY_CYCLE1_RNICBOM8[11] 2 4 3 #SB_LUT4
set_location DUTY_CYCLE0_RNI6FK01_0[13] 6 6 3 #SB_LUT4
set_location PWM_OUT1_cry_16_c_inv 2 2 4 #SB_LUT4
set_location PWM_OUT0_cry_12_c 2 10 0 #SB_CARRY
set_location PWM_OUT1_cry_9_c 2 1 5 #SB_CARRY
set_location DUTY_CYCLE0_RNO[10] 5 6 6 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_11_0_c 5 6 7 #SB_CARRY
set_location counter_PWM0_RNO[3] 1 7 2 #SB_LUT4
set_location counter_PWM0_1_cry_3_c 1 7 2 #SB_CARRY
set_location PWM_OUT1_cry_16_c 2 2 4 #SB_CARRY
set_location PWM_OUT1_cry_12_c_inv 2 2 0 #SB_LUT4
set_location PWM_OUT0_cry_16_c_inv 2 10 4 #SB_LUT4
set_location DUTY_CYCLE0[11] 5 6 7 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_9_c 4 3 5 #SB_CARRY
set_location counter_PWM1[9] 1 2 1 #SB_DFF
set_location counter_PWM0[6] 1 7 5 #SB_DFFSR
set_location counter_PWM0[12] 1 8 3 #SB_DFFSR
set_location counter_debounce[0] 5 4 3 #SB_DFF
set_location counter_PWM0_RNO[17] 1 9 0 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_4_c_RNO 5 5 6 #SB_LUT4
set_location counter_PWM0_RNO[4] 1 7 3 #SB_LUT4
set_location counter_PWM0_1_cry_11_c 1 8 2 #SB_CARRY
set_location PWM_OUT1_cry_7_c 2 1 3 #SB_CARRY
set_location DUTY_CYCLE0[14] 5 7 2 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_4_c_RNO 4 4 5 #SB_LUT4
set_location counter_PWM1_cry_c[1] 1 1 1 #SB_CARRY
set_location counter_PWM1_RNO[8] 1 2 0 #SB_LUT4
set_location counter_PWM1[4] 1 1 4 #SB_DFF
set_location counter_PWM0[3] 1 7 2 #SB_DFFSR
set_location PWM_OUT1_cry_14_c 2 2 2 #SB_CARRY
set_location PWM_OUT0_cry_9_c_inv 2 9 5 #SB_LUT4
set_location PWM_DFF8.Q 6 3 3 #SB_DFFE
set_location PWM_DFF2.Q_RNIGKVT 6 4 0 #SB_LUT4
set_location DUTY_CYCLE1[14] 4 4 2 #SB_DFF
set_location counter_debounce_RNO[0] 5 4 3 #SB_LUT4
set_location counter_PWM1[12] 1 2 4 #SB_DFF
set_location counter_PWM0_1_cry_9_c 1 8 0 #SB_CARRY
set_location PWM_OUT1_cry_9_c_inv 2 1 5 #SB_LUT4
set_location PWM_OUT1_cry_13_c_inv 2 2 1 #SB_LUT4
set_location PWM_DFF8.Q_RNIKO92F_1 5 4 2 #SB_LUT4
set_location DUTY_CYCLE0_RNIEVQJ6[10] 4 5 1 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_6_c 5 6 2 #SB_CARRY
set_location counter_PWM1_RNO[14] 1 2 6 #SB_LUT4
set_location counter_PWM0_RNO[9] 1 8 0 #SB_LUT4
set_location PWM_OUT1_cry_7_c_inv 2 1 3 #SB_LUT4
set_location PWM_DFF2.Q 6 3 0 #SB_DFFE
set_location DUTY_CYCLE1_RNO[16] 4 4 4 #SB_LUT4
set_location DUTY_CYCLE1[7] 4 3 3 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_7_0_c 4 3 3 #SB_CARRY
set_location counter_PWM1_RNO[3] 1 1 3 #SB_LUT4
set_location counter_PWM1[3] 1 1 3 #SB_DFF
set_location counter_PWM0[8] 1 7 7 #SB_DFFSR
set_location PWM_OUT1_cry_5_c 2 1 1 #SB_CARRY
set_location PWM_OUT1_cry_15_c 2 2 3 #SB_CARRY
set_location PWM_OUT1_cry_14_c_inv 2 2 2 #SB_LUT4
set_location PWM_OUT0_cry_9_c 2 9 5 #SB_CARRY
set_location PWM_DFF4.Q_RNIEU26C_0 6 6 7 #SB_LUT4
set_location DUTY_CYCLE1[11] 4 3 7 #SB_DFF
set_location counter_PWM1_cry_c[10] 1 2 2 #SB_CARRY
set_location counter_PWM0_1_cry_7_c 1 7 6 #SB_CARRY
set_location PWM_DFF4.Q_RNIEU26C 6 5 5 #SB_LUT4
set_location DUTY_CYCLE0_RNI65UK6[9] 4 6 4 #SB_LUT4
set_location counter_PWM1_RNO[11] 1 2 3 #SB_LUT4
set_location counter_PWM0_RNI313J[15] 2 8 1 #SB_LUT4
set_location PWM_OUT1_cry_12_c 2 2 0 #SB_CARRY
set_location PWM_DFF6.Q_RNI0DI21 5 3 3 #SB_LUT4
set_location DUTY_CYCLE1_RNO[13] 4 4 1 #SB_LUT4
set_location DUTY_CYCLE0[7] 5 6 3 #SB_DFF
set_location PWM_OUT1_cry_5_c_inv 2 1 1 #SB_LUT4
set_location PWM_OUT0_cry_14_c_inv 2 10 2 #SB_LUT4
set_location PWM_DFF4.Q_RNIEU26C_5 5 4 6 #SB_LUT4
set_location DUTY_CYCLE0_RNO[5] 5 6 1 #SB_LUT4
set_location DUTY_CYCLE0_RNO[13] 5 7 1 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_16_0_c 5 7 4 #SB_CARRY
set_location un1_DUTY_CYCLE0_2_cry_12_c 5 7 0 #SB_CARRY
set_location counter_PWM0_1_cry_12_c 1 8 3 #SB_CARRY
set_location DUTY_CYCLE1_RNO[4] 5 3 6 #SB_LUT4
set_location DUTY_CYCLE0_RNI6FK01[13] 4 6 5 #SB_LUT4
set_location un1_DUTY_CYCLE1_2_cry_14_0_c 4 4 2 #SB_CARRY
set_location counter_PWM0[11] 1 8 2 #SB_DFFSR
set_location DUTY_CYCLE1_RNIE69S1[16] 5 4 1 #SB_LUT4
set_location DUTY_CYCLE1_RNI0I6D1[11] 4 4 7 #SB_LUT4
set_location DUTY_CYCLE1[9] 4 3 5 #SB_DFF
set_location DUTY_CYCLE0_RNIILSL[18] 5 5 2 #SB_LUT4
set_location DUTY_CYCLE0_RNI6DMD1[10] 6 5 2 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_5_c 5 6 1 #SB_CARRY
set_location counter_PWM0_RNO[12] 1 8 3 #SB_LUT4
set_location counter_PWM0_1_cry_15_c 1 8 6 #SB_CARRY
set_location PWM_OUT1_cry_10_c 2 1 6 #SB_CARRY
set_location DUTY_CYCLE0_RNO[16] 5 7 4 #SB_LUT4
set_location counter_PWM0_RNO[1] 1 6 4 #SB_LUT4
set_location PWM_OUT0_cry_6_c 2 9 2 #SB_CARRY
set_location PWM_DFF1.Q 6 3 2 #SB_DFFE
set_location DUTY_CYCLE0_RNI85EK3_0[11] 5 5 4 #SB_LUT4
set_location DUTY_CYCLE0[13] 5 7 1 #SB_DFF
set_location counter_PWM1_cry_c[2] 1 1 2 #SB_CARRY
set_location counter_PWM0[14] 1 8 5 #SB_DFFSR
set_location counter_PWM0[0] 1 6 6 #SB_DFFSR
set_location DUTY_CYCLE0_RNO[8] 5 6 4 #SB_LUT4
set_location counter_PWM0_RNO[15] 1 8 6 #SB_LUT4
set_location PWM_DFF8.Q_RNIKO92F_2 2 3 5 #SB_LUT4
set_location DUTY_CYCLE0[16] 5 7 4 #SB_DFF
set_location counter_PWM1_cry_c[7] 1 1 7 #SB_CARRY
set_location counter_PWM1_RNO[6] 1 1 6 #SB_LUT4
set_location counter_PWM1[6] 1 1 6 #SB_DFF
set_location DUTY_CYCLE1[12] 4 4 0 #SB_DFF
set_location counter_PWM1_cry_c[13] 1 2 5 #SB_CARRY
set_location counter_PWM1[10] 1 2 2 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_10_c 4 3 6 #SB_CARRY
set_location counter_PWM1_RNO[16] 1 3 0 #SB_LUT4
set_location PWM_DFF4.Q 7 4 2 #SB_DFFE
set_location DUTY_CYCLE1_RNO[10] 4 3 6 #SB_LUT4
set_location DUTY_CYCLE1_RNI3LQ39[9] 2 3 6 #SB_LUT4
set_location DUTY_CYCLE0_RNI21UK6[5] 4 6 1 #SB_LUT4
set_location DUTY_CYCLE0[4] 6 6 2 #SB_DFF
set_location un1_DUTY_CYCLE1_2_cry_4_c 4 3 0 #SB_CARRY
set_location un1_DUTY_CYCLE0_2_cry_8_c 5 6 4 #SB_CARRY
set_location un1_DUTY_CYCLE0_2_cry_15_0_c 5 7 3 #SB_CARRY
set_location counter_PWM1_cry_c[8] 1 2 0 #SB_CARRY
set_location counter_PWM1_RNO[1] 1 1 1 #SB_LUT4
set_location PWM_DFF4.Q_RNIEU26C_2 6 7 6 #SB_LUT4
set_location DUTY_CYCLE1_RNISP8M1[5] 5 3 4 #SB_LUT4
set_location DUTY_CYCLE0_RNO[6] 5 6 2 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_7_0_c 5 6 3 #SB_CARRY
set_location PWM_OUT0_cry_5_c 2 9 1 #SB_CARRY
set_location PWM_OUT0_cry_17_c_inv 2 10 5 #SB_LUT4
set_location PWM_OUT0_cry_12_c_inv 2 10 0 #SB_LUT4
set_location DUTY_CYCLE1_RNO[7] 4 3 3 #SB_LUT4
set_location DUTY_CYCLE0_RNI76O95[10] 6 5 3 #SB_LUT4
set_location counter_PWM1_RNO[13] 1 2 5 #SB_LUT4
set_location DUTY_CYCLE0_RNO[11] 5 6 7 #SB_LUT4
set_location counter_PWM0_RNO[2] 1 7 1 #SB_LUT4
set_location PWM_OUT0_cry_17_c 2 10 5 #SB_CARRY
set_location counter_PWM0[5] 1 7 4 #SB_DFFSR
set_location counter_PWM0[13] 1 8 4 #SB_DFFSR
set_location DUTY_CYCLE1_RNI9R6D1[13] 2 4 1 #SB_LUT4
set_location counter_PWM0_RNO[10] 1 8 1 #SB_LUT4
set_location PWM_DFF2.Q_RNIGUU86 5 5 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location DUTY_CYCLE0_RNO[14] 5 7 2 #SB_LUT4
set_location DUTY_CYCLE0_RNICESF1[4] 5 5 0 #SB_LUT4
set_location DUTY_CYCLE0_RNI32UK6[6] 4 5 7 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_17_0_c 5 7 5 #SB_CARRY
set_location counter_PWM0_RNO[7] 1 7 6 #SB_LUT4
set_location DUTY_CYCLE1_RNI0IQ39[6] 2 3 1 #SB_LUT4
set_location DUTY_CYCLE0_RNI85EK3[11] 4 5 6 #SB_LUT4
set_location DUTY_CYCLE0[15] 5 7 3 #SB_DFF
set_location counter_PWM0[2] 1 7 1 #SB_DFFSR
set_location counter_PWM0[16] 1 8 7 #SB_DFFSR
set_location PWM_OUT0_cry_8_c 2 9 4 #SB_CARRY
set_location PWM_OUT0_cry_5_c_inv 2 9 1 #SB_LUT4
set_location counter_PWM0_RNO[8] 1 7 7 #SB_LUT4
set_location DUTY_CYCLE1_RNO[8] 4 3 4 #SB_LUT4
set_location DUTY_CYCLE1_RNIV2B52[4] 5 3 2 #SB_LUT4
set_location DUTY_CYCLE0[9] 5 6 5 #SB_DFF
set_location counter_PWM1_cry_c[5] 1 1 5 #SB_CARRY
set_location counter_PWM1_RNO[4] 1 1 4 #SB_LUT4
set_location counter_PWM1[0] 1 1 0 #SB_DFF
set_location PWM_DFF6.Q 5 2 1 #SB_DFFE
set_location DUTY_CYCLE1[10] 4 3 6 #SB_DFF
set_location PWM_OUT1_cry_4_c_inv 2 1 0 #SB_LUT4
set_location DUTY_CYCLE1_RNIVGQ39[5] 2 3 0 #SB_LUT4
set_location DUTY_CYCLE1_RNO[12] 4 4 0 #SB_LUT4
set_location DUTY_CYCLE1_RNI9DDQ2[11] 2 4 6 #SB_LUT4
set_location un1_DUTY_CYCLE0_2_cry_13_0_c 5 7 1 #SB_CARRY
set_location PWM_OUT1_cry_8_c_inv 2 1 4 #SB_LUT4
set_location PWM_DFF4.Q_RNIEU26C_4 5 4 4 #SB_LUT4
set_location counter_PWM1_cry_c[14] 1 2 6 #SB_CARRY
set_location DUTY_CYCLE1_RNO[5] 4 3 1 #SB_LUT4
set_location DUTY_CYCLE1_RNI9R6D1_0[13] 2 4 5 #SB_LUT4
set_location counter_PWM0_RNO[13] 1 8 4 #SB_LUT4
set_location PWM_OUT0_cry_10_c 2 9 6 #SB_CARRY
set_location PWM_DFF8.Q_RNIKO92F 5 4 7 #SB_LUT4
set_location DUTY_CYCLE0[10] 5 6 6 #SB_DFF
set_location counter_PWM0[7] 1 7 6 #SB_DFFSR
set_location counter_PWM0_1_cry_8_c 1 7 7 #SB_CARRY
set_location counter_PWM0[15] 1 8 6 #SB_DFFSR
set_location PWM_DFF8.Q_RNI8DHB6 5 3 5 #SB_LUT4
set_location DUTY_CYCLE0_RNITHPE1[7] 5 5 3 #SB_LUT4
set_location un1_DUTY_CYCLE1_2_cry_12_c 4 4 0 #SB_CARRY
set_location counter_PWM0_RNO[5] 1 7 4 #SB_LUT4
set_location counter_PWM0_1_cry_1_c 1 7 0 #SB_CARRY
set_location DUTY_CYCLE1_RNI3HOP4[8] 2 4 2 #SB_LUT4
set_location DUTY_CYCLE0_RNI5CMD1[7] 6 6 0 #SB_LUT4
set_location counter_PWM1_cry_c[6] 1 1 6 #SB_CARRY
set_location counter_PWM1_RNO[7] 1 1 7 #SB_LUT4
set_location counter_PWM1[7] 1 1 7 #SB_DFF
set_location DUTY_CYCLE1[15] 4 4 3 #SB_DFF
set_location counter_PWM1[13] 1 2 5 #SB_DFF
set_location counter_PWM0_1_cry_6_c 1 7 5 #SB_CARRY
set_location PWM_OUT0_cry_13_c_inv 2 10 1 #SB_LUT4
set_location DUTY_CYCLE1[6] 4 3 2 #SB_DFF
set_location counter_PWM0[9] 1 8 0 #SB_DFFSR
set_location PWM_DFF4.Q_RNIEU26C_1 5 7 7 #SB_LUT4
set_location counter_PWM0_1_cry_13_c 1 8 4 #SB_CARRY
set_location PWM_OUT1_cry_8_c 2 1 4 #SB_CARRY
set_location counter_PWM1_RNO[12] 1 2 4 #SB_LUT4
set_location counter_PWM0_1_cry_4_c 1 7 3 #SB_CARRY
set_location PWM_DFF8.Q_RNIV9KJ 5 3 7 #SB_LUT4
set_location un1_DUTY_CYCLE1_2_cry_8_c 4 3 4 #SB_CARRY
set_location un1_DUTY_CYCLE0_2_cry_9_c 5 6 5 #SB_CARRY
set_location PWM_DFF7.Q 6 3 1 #SB_DFFE
set_location DUTY_CYCLE1_RNI2KQ39[8] 2 3 4 #SB_LUT4
set_io increase_duty0 60
set_io decrease_duty1 45
set_io PWM_OUT1 47
set_io increase_duty1 44
set_io decrease_duty0 61
set_io clk 21
set_io PWM_OUT0 62
